body {
  font: 14px arial, sans-serif;
  background-color: #F5F5F5;
}

#container {
  width: 700px;
  margin: 40px auto 60px;
}

#pic {
  float: left;
  width: 250px;
  height: auto;
}

#content-name {
  margin: 25px 50px 75px 100px;
}

#content-contact {
  margin: 25px 50px 75px 100px;
}

#content-education {
  margin: 25px 50px 75px 100px;
}

#content-workexp {
}

#content-workexpjob {
  border: 1px solid black;
  margin: 25px 50px 75px 100px;
  background-color: lightblue;
}

#content-workexplist {
  border: 1px solid black;
  margin: 25px 50px 75px 100px;
  background-color: lightblue;
}
