body {
  font: 14px Tahoma, Geneva, sans-serif;
  background-color: #EBEDEF;
}

#container {
  width: 1000px;
  margin: 40px auto 60px;
}

#introinfo {
  border: 5px solid black;
  margin: 25px 50px 25px 100px;
  padding-right: 25px;
}

#pic {
  width: 175px;
  float: left;
  height: auto;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
  border-radius: 50%;
}

#content-name {
  margin: 25px 100px 25px 100px;
  padding-right: 25px;
  font-size: 35px;
  font-weight: bold;
}

#content-contact {
  margin: 25px 100px 25px 100px;
  padding-right: 25px;
}

#date {
  float: right;
}

#content-education {
  margin: 25px 100px 25px 100px;
  padding-right: 25px;
}

#content-workexp {
  margin: 0px 100px 25px 100px;
  padding-right: 25px;
  font-size: 20px;
  font-weight: bold;
}

#content-verizon {
   border: 3px solid black;
   margin: 25px 50px 25px 100px;
   padding: 10px;
}

#content-workexpjob {
  margin: 25px 50px 25px 100px;
  padding: 10px;
}

#content-workexplist {
  margin: 25px 50px 25px 100px;
  padding-right: 10px;
}
