body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 14px;
  background-color: #F5F5F5;
}

#container {
  width: 700px;
  margin: 40px auto 60px;
}

#pic {
  float: left;
  width: 300px;
  height: auto;
}
